.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}


/********************* Added ************************/
/****************************************************/
/****************************************************/
/* Header */
header {
  background-color: rgb(64,64,64);
  color: white;
}

#search_sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

/* Movie List Formatting */
.movie_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.movie_card_container {
  width: 20%;
}

.movie_card {
  margin: 5%;
  padding: 1%;
  height: 60vh;
  box-shadow: 4px 4px 15px rgb(0, 0, 0, 0.2);
}

.movie_image {
  width: 100%;
}

.movie_title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Footer */
footer {
  background-color: rgb(64,64,64);
  color: white;
  text-align: center;
  margin: 0.5%;
  padding: 0.5% 0;
  font-size: 0.9rem;
}